<mat-toolbar class="header" fxLayout="row" fxLayoutAlign="space-between ">
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button (click)="home()">
      <span class="header-title"><strong>ODONTO</strong>MAXTER</span>
    </button>
    <!-- <form [formGroup]="form">
      <span>
        <mat-form-field appearance="fill" class="header-field">
          <mat-icon class="header-icon">search</mat-icon>
          <input matInput type="search" formControlName="pesquisar" placeholder="Pesquisar..." class="header-input">
        </mat-form-field>
      </span>
    </form> -->
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button aria-label="">
      <mat-icon class="icon">notifications</mat-icon>
    </button>
    
    <button mat-icon-button aria-label="">
      <mat-icon class="icon">account_circle</mat-icon>
    </button>
    <!-- <button mat-icon-button [matMenuTriggerFor]="menuUsuario">
      <mat-icon class="icon">keyboard_arrow_down</mat-icon>
    </button> -->
  </div>
</mat-toolbar>

<mat-menu #menuUsuario="matMenu" class="menu">
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Sair
  </button>
</mat-menu>
