<div class="container">
    <div class="row justify-content-end  table-pa-t">
        <div class="col-md-1 col-table">
            <div class="card-agd col-horario text-center">
                <span>Horário</span>
            </div>
            <div class="card-agd col-horario text-center" *ngFor="let horario of horarios$ | async">
                <span>{{horario}}</span>
            </div>
        </div>
        <div *ngFor="let agendamentos of agendamentosDentistas$ | async"
            class="col-md-2 col-table">
            <div class="card-agd col-horario text-center">
                <span>{{agendamentos.nomeDentista}}</span>
            </div>
            <div class="card-agd celula text-center" *ngFor="let agenda of agendamentos.agenda">
                <span *ngIf="agenda">{{agenda.descricao}}</span>
            </div>
        </div>
    </div>
</div>


