

.card-agd{
    border:thin solid rgb(140, 168, 190);
    height: 30px;
    padding-top: 4px;
    font-size: 13px;
}

.col-horario{
    background-color: rgb(155, 185, 196);
}

.col-table{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.table-pa-t{
    padding-top: 20px;
    padding-bottom: 40px;
}

.celula:hover{
    background-color: rgb(181, 204, 212);
}