@import "../../../shared/styles/colours.scss";

.sidenav {
    background-color: $white-text-color;
    width: 250px;
}

label {
    text-align: left;
    font: normal normal bold 14px/19px Roboto;
    letter-spacing: 0px;
    color: #687486;
    opacity: 1;
}


.sidenav a {
    color: #687486;
    font: normal normal bold 14px/19px Roboto;
    letter-spacing: 0px;
    padding-left: 40px;
    opacity: 1;
    text-align: left;
    cursor: pointer;
}

.content {
    // padding: 16px;
    background-color: #FFF;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}

.mat-icon {
    padding-right: 10px;
}

.label {
    padding-top: 5px;
}
.routerDisabled{
    opacity: .5 !important;
    cursor: default !important;
}

.menu-item {
    margin-bottom: 0.75em;
}

.link_titulo{
    padding-left: 0px !important;
}

.ml-40 {
    margin-left: 40px;
}

.pad-0 {
    padding: 0 !important;
}