.app-main-wrapper {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  display: flex;
  max-width: 1280px;
  margin: auto;
  min-height: calc(100vh - 256px);
  &-central {
    padding: 12px;
    flex: 50%;
    position: relative;
    top: -120px;
  }
  &-side {
    padding: 12px;
    position: sticky;
    top: 0px;
    height: 0px;
    min-height: 720px;
  }
}

@import "./shared/styles/breakpoints.scss";

@media only screen and (max-width: $mobile-width) {
  .app-main-wrapper {
    margin-top: 106px;
  }
}
