<section class="wallpaper">
  <!-- <div fxLayout="column" fxLayoutAlign="space-around start" class="campo_texto">
    <p class="mensagem_boas_vindas">
      Olá {{usuario.nome}}, tudo bem?
    </p>
    <p class="mensagem_boas_vindas">
      Bem-vindo ao Portal do servidor do DETRAN-DF
    </p>
    <p class="mensagem_de_descricao espacamento">
      Esse é um serviço exclusivo para a administração 
    </p>
    <p class="mensagem_de_descricao">
      do Portal e Aplicativo da Instituição.
    </p>
    <p class="mensagem_de_descricao">
      Acesse os serviços clicando no menu lateral.
    </p>
  </div> -->
</section>

