$primary-text-color: rgb(46, 68, 197);
$black-background-color: #28344e;
$disable-text-color: rgb(179, 205, 228);


$secondary-text-color: #8398b3;
$bluedark-text-color: #1d3451;
$blueregular-text-color: #3d5879;
$grey-text-color: #878993;
$grey-background-color: #d3d3d3;
$white-text-color: #ffffff;
$grey-border-color: #dfe5ee;
$bluedark-background-color: #262e3b;
$danger-text-color: #da1415;

$topic-line-border: #dee5ee;
$topic-line-fill: #e9eef7;
$topic-line-text: #596980;

$blue-border: #a1d2ff;
$blue-background: #c7e4ff;
$soft-blue-background: #f7f9fc;
$light-blue-background: #e9eef7;

$success-main: #00cd9d;
$success-secondary: #ecf9f0;
$success-dark: #287d3c;

$alert-main: #f9c866;
$alert-secondary: #fef4ec;
$alert-dark: #b95000;

$error-main: #e93f66;
$error-secondary: #feefef;
$error-dark: #da1415;

$warning-main: #4d99f3;
$warning-secondary: #f7fbff;
$warning-dark: #4d99f3;


