@import "../styles/colours.scss";

%setting-background {
  background-position: center;
  background-size: 22px;
  background-repeat: no-repeat;
}

// VEÍCULOS
#headerMenu_veiculosConsultas {
  app-menu-item {
    div {
      a {
        figure {
          background-color: $blue-background;
          border-color: $blue-border;
          img {
            visibility: hidden;
          }
          @extend %setting-background;
          background-image: url("/assets/svg/icon_veiculos_consulta.svg");
        }
      }
    }
  }
}

#headerMenu_veiculosEmissao {
  app-menu-item {
    div {
      a {
        figure {
          background-color: #c7f2ff;
          border-color: #a1e8ff;
          img {
            visibility: hidden;
          }
          @extend %setting-background;
          background-image: url("/assets/svg/icon_veiculos_emissao.svg");
        }
      }
    }
  }
}

#headerMenu_veiculosTransferencia {
  app-menu-item {
    div {
      a {
        figure {
          background-color: #c7f2ff;
          border-color: #a1e8ff;
          img {
            visibility: hidden;
          }
          @extend %setting-background;
          background-image: url("/assets/svg/icon_veiculos_transferencia.svg");
        }
      }
    }
  }
}

// AGENDAMENTOS
#headerMenu_agendamentoConsultas {
  app-menu-item {
    div {
      a {
        figure {
          background-color: #ede4ff;
          border-color: #ceb8ff;
          img {
            visibility: hidden;
          }
          @extend %setting-background;
          background-image: url("/assets/svg/icon_agendamento_consulta.svg");
        }
      }
    }
  }
}
// INFRAÇÃO

#headerMenu_infracaoConsultas {
  app-menu-item {
    div {
      a {
        figure {
          background-color: #fff9c7;
          border-color: #ffd9a1;
          img {
            visibility: hidden;
          }
          @extend %setting-background;
          background-image: url("/assets/svg/icon_infracao_consulta.svg");
        }
      }
    }
  }
}

#headerMenu_infracaoSolicitacao {
  app-menu-item {
    div {
      a {
        figure {
          background-color: #ffe9c7;
          border-color: #ffcea1;
          img {
            visibility: hidden;
          }
          @extend %setting-background;
          background-image: url("/assets/svg/icon_infracao_solicitacao.svg");
        }
      }
    }
  }
}

#headerMenu_infracaoNotificacao {
  app-menu-item {
    div {
      a {
        figure {
          background-color: #ffdfc7;
          border-color: #ffc3a1;
          img {
            visibility: hidden;
          }
          @extend %setting-background;
          background-image: url("/assets/svg/icon_infracao_notificacao.svg");
        }
      }
    }
  }
}

// ADMINISTRAÇÃO
#headerMenu_administracao {
  app-menu-item {
    div {
      a {
        figure {
          background-color: #cebafc;
          border-color: #ede5fe;
          img {
            visibility: hidden;
          }
          @extend %setting-background;
          background-image: url("/assets/svg/icon_administracao_mensageria.svg");
        }
      }
    }
  }
}

#headerMenu_credenciadasConsulta {
  app-menu-item {
    div {
      a {
        figure {
          background-color: #cebafc;
          border-color: #ede5fe;
          img {
            visibility: hidden;
          }
          @extend %setting-background;
          background-image: url("../../../assets/svg/icon_administracao_empresas_credenciadas.svg");
        }
      }
    }
  }
}
