@import "./colours.scss";
@import "./material.custom.mobile.scss";
@import "./material.custom.menu-labels.scss";
// @import "../../detran/login/login/login.component.scss";

.screen-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.form-card {
  border-radius: 16px !important;
  text-align: left !important;
  padding: 48px !important;
}

.sidenav-right-card02 {
  .mat-badge-content {
    right: 12px !important;
    top: 8px !important;
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #d8d9e2ff;
}

thead {
  background: $light-blue-background !important;
  th {
    font-weight: 500 !important;
    font-size: 14px !important;
  }
  tr {
    height: 40px !important;
  }
}

.mat-badge-content {
  background: $soft-blue-background;
  color: $primary-text-color;
  font-size: 10px;
}

.mat-menu-panel {
  width: 100%;
  min-width: 100vw !important;
  // max-width: 1280px !important;
  border-radius: 0 !important;
  margin: auto;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0;
}

.header-toolbar-menu-notifications {
  margin-left: 70% !important;
  margin-right: 10% !important;
}

.menu-notifications-wrapper {
  box-shadow: none !important;
  width: 30% !important;
  height: 50% !important;
}

.mat-card .mat-divider-horizontal {
  width: 100%;
  position: relative !important;
  float: left;
  padding: 4px;
}

.mat-menu-panel {
  top: 28px;
  position: absolute;
}

@media print {
  .app-main-wrapper-side,
  .header-toolbar,
  .forms-wrapper-label,
  mat-toolbar,
  .forms-wrapper-returnButton {
    display: none !important;
  }

  .mat-card {
    box-shadow: none !important;
  }
  .print-area {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  width: 100% !important;
}

.cdk-overlay-connected-position-bounding-box {
  left: 0 !important;
}
.cdk-overlay-pane {
  left: 0;
  max-width: 100vw !important;
  max-height: 100% !important;
  // width: 100% !important;
}

#cdk-overlay-1,
#cdk-overlay-2,
#cdk-overlay-3,
#cdk-overlay-4 {
  // width: 100% !important;
}

.menu-item-tooltip {
  padding: 12px 8px;
  background: rgba($color: #000000, $alpha: 0.8);
  font-size: 12px;
  text-align: center;
  top: 0px;
}

.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
.mat-checkbox-checked.mat-primary .mat-checkbox-background {
  background-color: $primary-text-color;
}

.mat-radio-container,
.mat-radio-outer-circle {
  width: 16px !important;
  height: 16px !important;
  border-width: 4px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  width: 16px;
  height: 16px;
  border-width: 4px;
  border-color: $primary-text-color;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: initial;
}

.header-toolbar-menuMobile-button {
  span {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    top: 0;
    position: relative;
    top: -3px;
    i {
      font-size: 30px;
    }
  }
}

@media print {
  * {
    font-family: sans-serif !important;
  }
  .titulo-card,
  .mat-card-subtitle,
  mat-card-actions {
    display: none !important;
    visibility: hidden !important;
  }
}

.mat-dialog-container {
  max-width: 460px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper,
.mat-form-field-appearance-fill .mat-form-field-wrapper {
  margin: 0.25em 0.25em !important;
}

.mat-form-field {
  width: 100%;
}
td.mat-cell {
  border-bottom-color: #707070;
}