
.mat-toolbar{
  height: 50px;
}

.mat-sidenav-container{
  background-color: rgb(23, 33, 39);
  min-height: 93vh !important;
}

a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}

a:hover{
    color: aliceblue;
    background-color: rgb(20, 50, 148);
}
button:hover{
    color: aliceblue;
    background-color: rgb(20, 50, 148);
}

.alig-spacer {
flex: 1 1 auto;
}
